body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: #A31621;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #232E21;
    color: #91972A;
    font-size: 96px;
}

.content{
    display: flex;
    align-items: center;
    gap: 16px;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button{
    background-color: #91972A;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #232E21;
    font-weight: bold;
    padding: 8px;
}

.button:hover{
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.button:active{
    opacity: 70%;
    transition: 1ms;

}

.grid-container{
    width: 700px;
    height: 700px;
    display: flex;
    border-style: solid;
    background-color: #FFFFFF;
}

.row-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square-div{    
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}