body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #A31621;
    font-family: Roboto, sans-serif;
}

.text-container{
    width: 0px;
    word-wrap: break-word;
    color: #91972A;
    font-size: 96px;
    margin-right: 120px;
    margin-left: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.button{
    background-color: #91972A;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #232E21;
    font-weight: bold;
    padding: 8px;
}

.button:hover{
    color: #FFFFFF;
    font-weight: bold;
}

.button:active{
    opacity: 70%;
    transition: 1ms;

}

.grid-container{
    width: 700px;
    height: 700px;
    display: flex;
    border-style: solid;
    background-color: #FFFFFF;
}

.row-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square-div{    
    flex: 1;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}